POSTGRES_DB=payments_processor_db
POSTGRES_USER=app
# generate with: python3 -c "import secrets; print(secrets.token_urlsafe(32))"
POSTGRES_PASSWORD=
PGDATA=/var/lib/postgresql/data/payments_processor_db
DB_HOST=payments_processor_db
DB_PORT=5432

RABBITMQ_DEFAULT_USER=admin
# generate with: python3 -c "import secrets; print(secrets.token_urlsafe(32))"
RABBITMQ_DEFAULT_PASS=
RABBITMQ_HOST=rabbit
RABBITMQ_PORT=5672

# generate with: python3 -c "import secrets; print(secrets.token_urlsafe(64))"
ACCESS_API_KEY=

LOG_LEVEL=INFO